alabaster==0.7.12
altair==4.2.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bg-atlasapi==1.0.2
bg-space==0.6.0
black==22.6.0
bleach==5.0.1
blinker==1.5
brainglobe-napari-io==0.1.5
brainreg==0.3.3
-e git+https://github.com/brainglobe/brainreg-napari.git@f068cb6de319e1c3666ad771bcbbe1882e71cc39#egg=brainreg_napari
brainreg-segment==0.2.16
build==0.8.0
cachetools==5.2.0
cachey==0.2.1
certifi
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
commonmark==0.9.1
configobj==5.0.6
configparser==5.3.0
cryptography==37.0.4
csbdeep==0.7.2
cycler==0.11.0
dask==2022.8.0
dask-image==2021.12.0
dataclasses-json==0.5.7
datajoint==0.13.7
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docstring-parser==0.14.1
docutils==0.19
einops==0.4.1
entrypoints==0.4
executing==0.10.0
fancylog==0.2.6
fastjsonschema==2.16.1
Flask==2.2.2
fonttools==4.34.4
freetype-py==2.3.0
fsspec==2022.7.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
h5py==2.10.0
HeapDict==1.0.1
hsluv==5.0.3
idna==3.3
imageio==2.21.1
imagesize==1.4.1
imio==0.2.4
imlib==0.1.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
install==1.3.5
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.9
jsonschema==4.9.1
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
llvmlite==0.39.0
locket==1.0.0
luddite==1.0.2
lxml==4.9.1
magicgui==0.5.1
MarkupSafe==2.1.1
marshmallow==3.17.0
marshmallow-enum==1.5.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
meshio==5.3.4
micrometa==0.0.11
minio==7.1.11
mistune==0.8.4
monai==0.9.1
multiprocessing-logging==0.3.3
mypy-extensions==0.4.3
napari==0.4.16
napari-console==0.0.4
napari-ndtiffs==0.1.2
napari-plugin-engine==0.2.0
napari-svg==0.1.6
natsort==8.2.0
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
nibabel==4.0.2
notebook==6.4.12
notebook-shim==0.1.0
npe2==0.6.1
numba==0.56.0
numexpr==2.8.3
numpy==1.22.4
numpydoc==1.4.0
otumat==0.3.1
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
pathspec==0.9.0
pep517==0.13.0
pickleshare==0.7.5
Pillow==9.2.0
PIMS==0.6.1
Pint==0.19.2
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
psygnal==0.3.5
pure-eval==0.2.2
pyarrow==9.0.0
pycparser==2.21
pydantic==1.10.1
pydeck==0.7.1
pydot==1.4.2
Pygments==2.12.0
Pympler==1.0.1
PyMySQL==1.0.2
pynndescent==0.5.7
pynrrd==0.4.3
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytomlpp==1.0.11
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32==304
pywinpty==2.0.7
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
requests==2.28.1
rich==12.5.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
shiboken2==5.15.2.1
six==1.16.0
slicerator==1.1.0
slurmio==0.0.6
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.4.0
streamlit==1.12.0
superqt==0.3.5
tables==3.7.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.12.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
treelib==1.6.1
typer==0.6.1
typing-inspect==0.8.0
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
umap-learn==0.5.3
urllib3==1.26.11
validators==0.20.0
vispy==0.10.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
widgetsnbextension==4.0.2
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.1
